@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

div{
  scroll-margin-top: 4rem;
}
section{
  scroll-margin-top: 10rem;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}




@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */

    /* this was messing w me when i 
    transferred from windows to mac bc mac set on dark mode */
  }
}
.link {
  position: relative;
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px; /* Adjust the height of the underline */
  bottom: 0;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.link:hover::before {
  visibility: visible;
  width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  
}
html{
  scroll-behavior: smooth; 
}


#gaming:hover .card {
  background-color: #2d2d2d; /* Or any dark color of your choice */
  color: #ffffff; /* White text color */
  transition-duration: 300ms;
}

#shows:hover .card {
  background-color: #2d2d2d; /* Or any dark color of your choice */
  color: #ffffff; /* White text color */
  transition-duration: 300ms;
}
#music:hover .card {
  background-color: #2d2d2d; /* Or any dark color of your choice */
  color: #ffffff; /* White text color */
  transition-duration: 300ms;
}
#builds:hover .card {
  background-color: #2d2d2d; /* Or any dark color of your choice */
  color: #ffffff; /* White text color */
  transition-duration: 300ms;
}
#food:hover .card {
  background-color: #2d2d2d; /* Or any dark color of your choice */
  color: #ffffff; /* White text color */
  transition-duration: 300ms;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}


